*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #eee
}


.chart{
  display: grid;
  grid-column-gap: 5px; 
  height: 100vh;
  width: 70vw;
  padding: 5px 10px;
}

[class*='bar']{
  background-color: rgba(11, 11, 189, 0.603);
  border-radius: 5px;
  display: grid;
  grid-row-end: 1000;

}

data{
  place-self:center;
  width: 100%;
  text-align:center;
  font-size: xx-large;
}

a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
  background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
    background: red;
    cursor: pointer;
}

ul li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}